

nav, article, .tweet {
    font-family: 'Abel', sans-serif;
    color: rgb(73,77, 79);

}

header, section, .side-items, .small-icons {
    font-family: 'Anton', sans-serif;
}


.small-icons {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2px;
    padding: .5em;
}

.icon-container {
    width: 105px; /* Width from style guide */
    height: 105px; /* Height from style guide */
    border-radius: 50%; /* Make it round */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Space between icons */
    color: #FFFFFF; /* Text color */
    font-family: Arial, sans-serif; /* Example font */
    font-size: 14px; /* Example font size */
    padding: 2em;
}

li {
    list-style: none;
    width: auto;
}

@media (max-width: 576px) {
    #navbar-li {
        display: none;
    }

    .icon-header {
        display: none;
    }

    .side-items {
        display: none;
    }
}

.design, .des{ background-color: #E6563B; }
.develop, .dev{ background-color: #EB9D3A; }
.support, .sup{ background-color: #7CB06C; }
.host, .hos{ background-color: #00ABA9; }
